@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: #2c0f34;
    color: hsl(287, 55%, 83%);
    font-weight: 300;
    padding: 40px 0px;
    width: 768px;
    margin: auto;
}
h1{
    font-weight: 300;
    margin-bottom: 32px;
}

#texto{
    background-color: hsl(287, 55%, 8%);
    font-size: 24px;
    padding: 8px 16px;
    border-radius: 8px;
    position: absolute;
    right: 12px;
}

#contenedor a {
    padding: 16px 24px;
    margin: 0px 1px;
    background-color: hsl(287, 55%, 25%);
    border-radius: 8px 8px 0px 0px;
    text-decoration: none;
    color: hsl(287, 55%, 83%);
    transition: 300ms;
    display: inline-block;
}
#contenedor a:hover{
    background-color: hsl(287, 55%, 30%);
}
#contenedor p{
    background-color: hsl(287, 55%, 25%);
    padding: 24px;
    font-size: 24px;
    border-radius: 0px 12px 12px 12px;
}

#caja{
    width: 256px;
    height: 256px;
    background-color: #868686;
    margin: 32px 16px;
    border-radius: 12px;
    padding: 32px 16px;
}